<extend name="Common/edit"/>
<block name="form">
    <form method="post" action="{:U()}" enctype="multipart/form-data">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">文章名称</td>
                <td>
                    <input type='text' name='name' maxlength='60' value='{$name}'/></td>
            </tr>
            <tr>
                <td class="label">文章分类</td>
                <td>
                    {:arr2select('article_category_id',$article_categorys)}
                </td>

            </tr>
            <tr>
                <td class="label">文章内容</td>
                <td>
                    <textarea name="article_content" id="article_content" cols="30" rows="10"></textarea>
                </td>
            </tr>
            <tr>
                <td class="label">是否显示</td>
                <td>
                    <input type='radio' class='status' name='status' value='1'/> 是
                    <input type='radio' class='status' name='status' value='0'/> 否
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><br/>
                    <input type="hidden" name="id" value="{$id}">
                    <input type="submit" class="button ajax-post" value=" 确定 "/>
                    <input type="reset" class="button" value=" 重置 "/>
                </td>
            </tr>
        </table>
    </form>
</block>