<extend name="Common/edit"/>
<block name="css">
    <link href="__UPLOADIFY__/uploadify.css" rel="stylesheet" type="text/css" />
</block>
<block name="form">
    <form method="post" action="{:U()}" enctype="multipart/form-data">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">品牌名称</td>
                <td>
                    <input type='text' name='name' maxlength='60' value='{$name}'/>
                </td>
            </tr>
            <tr>
                <td class="label">品牌网址</td>
                <td>
                    <input type='text' name='url' maxlength='60' value='{$url}'/>
                </td>
            </tr>
            <tr>
                <td class="label">品牌LOGO</td>
                <td>
                    <input type='file' class="uploadify" name='logo' id="file_upload_1" maxlength='60'/>

                    <div class="upload-img-box">
                        <div class="upload-pre-item">
                            <img src="/Uploads/Picture/2016-01-13/5695d6be0b8c2.png">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">排序</td>
                <td>
                    <input type='text' name='sort' maxlength='40' size='15' value='{$sort|default=20}'/>
                </td>
            </tr>
            <tr>
                <td class="label">品牌简介</td>
                <td>
                    <textarea name='intro' cols='60' rows='4'>{$intro}</textarea>
                </td>
            </tr>
            <tr>
                <td class="label">是否显示</td>
                <td>
                    <input type='radio' class='status' name='status' value='1'/> 是
                    <input type='radio' class='status' name='status' value='0'/> 否
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><br/>
                    <input type="hidden" name="id" value="{$id}">
                    <input type="submit" class="button" value=" 确定 "/>
                    <input type="reset" class="button" value=" 重置 "/>
                </td>
            </tr>
        </table>
    </form>
</block>
<block name="js">
    <script type="text/javascript" src="__UPLOADIFY__/jquery.uploadify.min.js" ></script>
    <script>
        $(function(){
            $("#file_upload_1").uploadify({
                height        : 30,
                swf           : '__UPLOADIFY__/uploadify.swf',
                uploader      : '__UPLOADIFY__/uploadify.php',
                width         : 120,
                buttonText    : '上传图片',
                'fileSizeLimit' : '1MB',
            });
        });
    </script>
</block>