<extend name="Common/index"/>
<block name="css">
    <link rel="stylesheet" href="__ZTREE__/css/zTreeStyle/zTreeStyle.css" type="text/css">
</block>
<block name="searchForm">
    <div class="form-div">
        <form action="{:U()}" name="searchForm" method="get">
            <img src="__IMG__/icon_search.gif" width="26" height="22" border="0" alt="search"/>
            <input type="text" name="search" size="15" value="{$search}" placeholder="请输入关键字"/>
            <input id="citySel" type="text" class="goods_category" size="15" value="" placeholder="请选择分类" readonly="readonly"/>
            <input type="hidden" id="goods_category_id" name="goods_category_id" value="">
            <div id="menuContent" class="menuContent" style="display:none; position: absolute;">
                <ul id="treeDemo" class="ztree" style="margin-top:0; width:160px;"></ul>
            </div>
            {:arr2select('brand_id',$brand_lists,I('get.brand_id'))}
            {:arr2select('supplier_id',$supplier_lists,I('get.supplier_id'))}
            <input type="submit" value=" 搜索 " class="button"/>
        </form>
    </div>
</block>
<block name="list">
    <form method="post" action="" name="listForm">
        <div class="list-div" id="listDiv">
            <table cellpadding="3" cellspacing="1">
                <tr>
                    <th>全选 <input type="checkbox" class="allChoose"></th>
                    <th>商品名称</th>
                    <th>简称</th>
                    <th>货号</th>
                    <th>商品分类</th>
                    <th>商品品牌</th>
                    <th>供货商</th>
                    <th>本店价格</th>
                    <th>市场价格</th>
                    <th>精品</th>
                    <th>新品</th>
                    <th>热销</th>
                    <th>库存</th>
                    <th>是否显示</th>
                    <th>操作</th>
                </tr>
                <volist name="rows" id="row">
                    <tr>
                        <td width="30">{$row.id}<input type="checkbox" name="id[]" value="{$row.id}" class="choose">
                        </td>
                        <td class='first-cell' align='center'>{$row.name}</td>
                        <td align='center'>{$row.short_name}</td>
                        <td align='center'>{$row.sn}</td>
                        <td align='center'>{$row.goods_category_name}</td>
                        <td align='center'>{$row.brand_name}</td>
                        <td align='center'>{$row.supplier_name}</td>
                        <td align='center'>{$row.shop_price}</td>
                        <td align='center'>{$row.market_price}</td>
                        <td align='center'><img src="__IMG__/{$row.is_best}.gif"/></td>
                        <td align='center'><img src="__IMG__/{$row.is_new}.gif"/></td>
                        <td align='center'><img src="__IMG__/{$row.is_hot}.gif"/></td>
                        <td align='center'>{$row.stock}</td>
                        <td align="center">
                            <a class="ajax-get" href="{:U('changeStatus',array('id'=>$row['id'],'status'=>(1-$row['status'])))}">
                                <img src="__IMG__/{$row.status}.gif"/>
                            </a>
                        </td>
                        <td align="center">
                            <a href="{:U('edit',array('id'=>$row['id']))}" title="编辑">编辑</a> |
                            <a class="ajax-get" href="{:U('changeStatus',array('id'=>$row['id']))}" title="编辑">移除</a>
                        </td>
                    </tr>
                </volist>
            </table>
            <div id="turn-page" class="page">
                {$pageTool}
            </div>
        </div>
    </form>
</block>
<block name="js">
    <script type="text/javascript" src="__ZTREE__/js/jquery.ztree.core-3.5.js"></script>
    <script>
        $(function(){
            /**********************************分类树状展示 开始*************************************************/
            //将模板中的代码copy过来修改
            var setting = {
                view: {
                    dblClickExpand: false
                },
                data: {
                    simpleData: {
                        enable: true,
                        pIdKey: "parent_id"
                    }
                },
                callback: {
                    onClick: onClick
                }
            };

            //得到符合规则的json字符串
            var zNodes ={$zNodes};



            function onClick(e, treeId, treeNode) {
                var cityObj = $("#citySel");
                cityObj.prop("value", treeNode.name);
                var goos_category_id_Obj = $("#goods_category_id");
                goos_category_id_Obj.prop("value", treeNode.id);
            }

            function showMenu() {
                var cityObj = $("#citySel");
                var cityOffset = $("#citySel").offset();
                $("#menuContent").css({left:cityOffset.left + "px", top:cityOffset.top + cityObj.outerHeight() + "px"}).slideDown("fast");

                $(window.document).bind("mousedown", onBodyDown);
            }
            function hideMenu() {
                $("#menuContent").fadeOut("fast");
                $(window.document).unbind("mousedown", onBodyDown);
            }
            function onBodyDown(event) {
                if (!(event.target.id == "menuBtn" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length>0)) {
                    hideMenu();
                }
            }

            var treeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
            treeObj.expandAll(true);
            $('.goods_category').click(function(){
                showMenu();
            })


            <notempty name='Think.get.goods_category_id'>
                var goods_category_id = {$Think.get.goods_category_id};
                var node = treeObj.getNodeByParam('id',goods_category_id);
                $('#goods_category_id').val(node.id);
                $('#citySel').val(node.name);
            </notempty>
        })
    </script>
</block>